@model WebApplication1.Models.客戶資料

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>客戶資料</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.客戶名稱, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.客戶名稱, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.客戶名稱, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.統一編號, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.統一編號, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.統一編號, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.電話, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.電話, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.電話, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.傳真, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.傳真, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.傳真, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.地址, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.地址, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.地址, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        



        <hr />


        <h4>客戶聯絡人</h4>
        @{
            var contact = Model.客戶聯絡人.ToArray();
        }
        <table class="table">
            <tr>
                <th>
                    職稱
                </th>
                <th>
                    姓名
                </th>
                <th>
                    Email
                </th>
                <th>
                    手機
                </th>
                <th>
                    電話
                </th>
                <th></th>
            </tr>

            @for( var i = 0; i < contact.Length; i++ )
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => contact[i].Id)
                        @Html.HiddenFor(modelItem => contact[i].客戶Id)
                        @Html.EditorFor(modelItem => contact[i].職稱)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => contact[i].姓名)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => contact[i].Email)
                        @Html.ValidationMessageFor(modelItem => contact[i].Email, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => contact[i].手機)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => contact[i].電話)
                    </td>
                </tr>
            }

        </table>


        <hr />


        <h4>客戶銀行資訊</h4>
        @{
            var bank = Model.客戶銀行資訊.ToArray();
        }
        <table class="table">
            <tr>
                <th>
                    銀行名稱
                </th>
                <th>
                    銀行代碼
                </th>
                <th>
                    分行代碼
                </th>
                <th>
                    帳戶名稱
                </th>
                <th>
                    帳戶號碼
                </th>
                <th></th>
            </tr>

            @for( var i = 0; i < bank.Length; i++ )
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => bank[i].Id)
                        @Html.HiddenFor(modelItem => bank[i].客戶Id)
                        @Html.EditorFor(modelItem => bank[i].銀行名稱)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => bank[i].銀行代碼)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => bank[i].分行代碼)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => bank[i].帳戶名稱)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => bank[i].帳戶號碼)
                    </td>
                </tr>
            }

        </table>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
